.white {
    color: white;
}

.top {
    background-color: #02D4B1;
    padding: 30px;
}

.alert {
    margin-top: 15px;
}

.info {
    max-width: 500px;
}

.row.justify-content-center {
    margin: 0px;
}

.AddBtn {
    margin: 25px;
}

.BottomHr {
    margin: 25px 10% 25px 10%;
}

.CardHr {
    margin: 0px;
}

.card {
    width: 300px;
    background-color: rgb(223, 223, 223) !important;
    border-radius: 10px;
    margin: 10px;
}

.card-title {
    padding: 20px 20px 0px 20px; 
}